// esquema de colores
$White: #FFF;
$Platinum: #E8E8E8;
$Gray: #BABABA;
 //segundo esquema de colores
$DarkSalmon: #EE9480;
$Melon: #F4BAAE;
$PalePink: #FADFDA;
 //Tercer esquema de colores
$BallBLue: #2AB7CA;
$MiddleBlue: #77D1DD;
$BlueLagoon: #B1E4EB;
//Cuarto esquema de colores
$Onyx: #333745;
$SpanishGray: #8F9199;
$LavenderGray: #C7C8CC;
//Quinto esquema de colores
$RaisingBlack: #221D23;
$Nickel: #726F73;
$SilverChalice: #AEACAF;
//Tipografía
$Raleway: 'Raleway', sans-serif;
$Opensans: 'Open Sans', sans-serif;
 // Peso de fuentes
$Regular: 400;
$Bold: 700;
// Tamaños de fuente
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
