.navigation_list {
  list-style: none;
  margin: 0;
}

.header {
  background-color: $White;
  margin: 0;
}

.navigation_item{
  display: inline-block;
  padding-left: 2rem;

}
.head-logo{
display:inline-block;
padding-left: 2rem;
position: relative;

}
